.content {
    width: 100%;
    /* height: 800px; */
    /* height: 800px !important; */
}

.searchContent {
    height: 50px;
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(255, 0, 25); */
}
.priceContent {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchContentMobile {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MAContent {
    height: 50px;
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    /* justify-content: center; */
    /* border: 2px solid rgb(255, 0, 25); */
}
.MAContentMobile {
    height: 30px;
    display: flex;
    align-items: center;
}
.searchLabel {
    align-self: center;
    margin-right: 12px;
    /* display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
    font-size: 14px;
    /* flex-grow: 2; */
    /* font-size: 0.8rem; */
}

.searchInput {
    width: 120px;
}
.searchMenu {
    width: 100px;
    margin-left: 12px;
    margin-right: 34px;
}
.rangeMenu {
    width: 100px;
    margin-left: 12px;
    margin-right: 12px;
}
.searchMenuMobile {
    width: 90px;
    margin-left: 2px;
    margin-right: 34px;
    font-size: 12px;
}
.rangeMenuMobile {
    width: 90px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
}
